<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome, {{ name }} to the Docker Desktop Lab System!
</h1>
<div>
<h2>Please select one the following options.</h2>
    <div>
        <h3></h3>
        <a href="/">
            <button>Go to your Docker Desktop</button>
        </a>
{#    </div>#}
{#    <div>#}
{#        <a href="/router">#}
{#            <button>Train on a router</button>#}
{#        </a>#}
{#    </div>#}
</div>
{% endblock %}